<body onload="pushAway();">
<div class="container">
    <center>
    <br><br><br><br>
    <span id="targetSpace" name="targetSpace"></span>
    <br>
    <h3>Page will now redirect to homepage...</h3>
    
    </center>
    
</div>

</body>

<script>

function pushAway(){
        
    //alert({{code}});
    if ({{code}} != 202){
        alert("One or more entry/entries did not make it.");

    }
    else{
        alert("Success. Press OK and return to homepage.");
    }

    window.location.replace("http://localhost");
}

</script>